Asssignment 1/ConsoleAppAssignement1/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49817/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49817/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetPrime_Number_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrime_Number" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPrime_Number_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrime_NumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getSum_of_digits_InputMessage">
    <wsdl:part name="parameters" element="tns:getSum_of_digits" />
  </wsdl:message>
  <wsdl:message name="IService1_getSum_of_digits_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSum_of_digitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reverse_String_InputMessage">
    <wsdl:part name="parameters" element="tns:reverse_String" />
  </wsdl:message>
  <wsdl:message name="IService1_reverse_String_OutputMessage">
    <wsdl:part name="parameters" element="tns:reverse_StringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_html_tags_InputMessage">
    <wsdl:part name="parameters" element="tns:html_tags" />
  </wsdl:message>
  <wsdl:message name="IService1_html_tags_OutputMessage">
    <wsdl:part name="parameters" element="tns:html_tagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sort_Numbers_InputMessage">
    <wsdl:part name="parameters" element="tns:sort_Numbers" />
  </wsdl:message>
  <wsdl:message name="IService1_sort_Numbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:sort_NumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetPrime_Number">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPrime_Number" message="tns:IService1_GetPrime_Number_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPrime_NumberResponse" message="tns:IService1_GetPrime_Number_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSum_of_digits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSum_of_digits" message="tns:IService1_getSum_of_digits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSum_of_digitsResponse" message="tns:IService1_getSum_of_digits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reverse_String">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reverse_String" message="tns:IService1_reverse_String_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/reverse_StringResponse" message="tns:IService1_reverse_String_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="html_tags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/html_tags" message="tns:IService1_html_tags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/html_tagsResponse" message="tns:IService1_html_tags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sort_Numbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sort_Numbers" message="tns:IService1_sort_Numbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sort_NumbersResponse" message="tns:IService1_sort_Numbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPrime_Number">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPrime_Number" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSum_of_digits">
      <soap:operation soapAction="http://tempuri.org/IService1/getSum_of_digits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverse_String">
      <soap:operation soapAction="http://tempuri.org/IService1/reverse_String" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="html_tags">
      <soap:operation soapAction="http://tempuri.org/IService1/html_tags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sort_Numbers">
      <soap:operation soapAction="http://tempuri.org/IService1/sort_Numbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49817/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>